[package]
name = "ekotrace"
version = "0.2.0"
authors = [
    "Zachary Pierce <zack@auxon.io>",
    "Russell Mull <russell@auxon.io>",
    "dan pittman <dan@auxon.io>",
    "Jon Lamb <jon@auxon.io>"
]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/auxoncorp/ekotrace"
readme = "README.md"
build = "build.rs"

[features]
default = []
std = ["serde", "proptest", "schemars"]

[workspace]
members = [
  "ekotrace-cli",
  "ekotrace-udp-collector",
  "util",
]

[dependencies]
static_assertions = "1.1.0"
fixed-slice-vec = "0.2"
rust-lcm-codec = "0.2"

# Used if the std feature is enabled.
serde = { version = "1.0", features = ["derive"], optional = true }
proptest = { version = "0.9.5", optional = true }
schemars = { version = "0.6.5", optional = true }

[dev-dependencies]
ekotrace-udp-collector = { path = "./ekotrace-udp-collector" }
proptest = "0.9"
util = { path = "./util" }

[build-dependencies]
rust-lcm-codegen = "0.2"
